

.search{
    
    margin-top: 500px; 
    border: 2px solid blue;
    width: 650px;
    height: 50px;
    padding: 20px;
   text-align: center;
   border-radius: 200px;
    }

#ara{
    float: left;

}

#input{
    
    height: 50px;
    width: 500px;
    border: 2px solid black;
    
    
}
#micro{
    float: right;
    
    
}